html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 8px;
    overflow-y: hidden;
    background-color: rgb(254 242 217);
}

main {
    height: 100%;
}

#game-bound {
    width: 100%;
    height: 100%;
    position: relative;
    width: 1000px;
    height: 600px;
}

#canvas {
    position: absolute;
    top: 0%;
    left: 0;
    /* border:2px solid; */
}

#car {
    position: absolute;
    z-index: 3;
    bottom: 60px;
    left: 110px;
    width: 40px;
    height: 80px;
    pointer-events: none;
    user-select: none;
}

#parking {
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 100px;
    width: 40px;
    cursor: move;
    pointer-events: none;
    user-select: none;
}

#timer {
    position: absolute;
    z-index: 2;
    top: 60px;
    left: 900px;
}

#result {
    position: absolute;
    z-index: 2;
    top: 90px;
    left: 840px;
}

#matching {
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 840px;
}

#submit {
    border: none;
    padding: 2px 8px;
    background: url("../images/submit-button.png") no-repeat scroll 0 0 transparent;
    background-size: 75px 25px;
    height: 25px;
    width: 75px;
    position: absolute;
    left: 900px;
    top: 90px;
    cursor: pointer;
}

#submit:hover {
    opacity: 0.7;
}

.popup {
	background: white;
	width: 300px;
	padding: 20px;
	text-align: center;
	border: 3px solid #fdcc33;
	border-radius: 20px;
}

.popup > p {
	margin-bottom: 10px;
}

button {
	background: #fdcc33;
	padding: 8px 15px;
	font-weight: 500;
	border-radius: 10px;
	border: none;
}

button:hover {
	cursor: pointer;
}

.popup-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.7);
}

.d-none, .hidden {
	display: none !important;
}

.visuallyhidden {
  opacity: 0 !important;
}

.instructions_txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions_txt > img {
    width: 15px;
    height: 15px;
    margin: 0 5px;
}